.background-dark {
    background-color: #262626;
}

.center {
    display: flex; 
    justify-content: center;
}

.margin-top {
    margin-top: 80px;
}

.timer {
    font-size: 60px;
    color: blue;
    font-family: 'Curier', sans-serif;
}

#timerInput {
    font-size: 12px; /* Schriftgröße erhöhen */
    padding: 6px 1px; /* Padding anpassen */
    width:  80px;
}


#startButton {
    font-size: 16px; /* Schriftgröße erhöhen */
    padding: 6px 3px; /* Padding anpassen */
    width:  80px;
}
#repeatInput {
    font-size: 12px; /* Schriftgröße erhöhen */
    padding: 6px 1px; /* Padding anpassen */
    width:  80px;
}

#zeit {
    font-size: 12px; /* Schriftgröße erhöhen */
    padding: 10px 1px; /* Padding anpassen */
    width:  80px;
}

h1 {
    position: relative;
    /*width: 30%;*/
    left: 1px;
    /*margin-left: 200px; */
        color: #a3f35c;
    font-size: 11pt;
    font-family: arial, "lucida console", sans-serif;
   /* text-indent: 110px;*/
}
